[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leetroot
[access "refs/for/refs/*"]
	read = group user/leetroot
	push = group user/leetroot
	label-Code-Review = -2..+2 group user/leetroot
	label-Verified = -1..+1 group user/leetroot
	rebase = group user/leetroot
	removeReviewer = group user/leetroot
	submit = group user/leetroot
[access "refs/heads/*"]
	read = group user/leetroot
	create = group user/leetroot
	push = +force group user/leetroot
	pushMerge = group user/leetroot
[access "refs/tags/*"]
	push = +force group user/leetroot
	pushTag = group user/leetroot
	pushSignedTag = group user/leetroot
